<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
</head>

<body style="background: url(../assets/img/images/background.jpg); font-family: 'Oswald', sans-serif" >

    <div class="flex-container d-flex justify-content-around" style="padding-top: 20px">
        <p>&lt t: 704.942.0077 /&gt</p>
        <p>&lt NYC && CLT /&gt</p>
    </div>

    <div class="flex-container d-flex align-items-center justify-content-center" style="height: 80vh; width: 100%">
        <a href="/portfolio" style="text-decoration: none; color: inherit; font-size: 70px; font-family: 'Roboto', sans-serif">{michael BENHAM}/</a>
        <p style="color: red">FULL STACK ENGINEER</p>
    </div>

    <div class="flex-container d-flex justify-content-around">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1" style="color: inherit" href="/portfolio">
                    <i class="fas fa-lg fa-folder"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1" style="color: inherit">
                    <i class="fab fa-lg fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1" style="color: inherit" href="https://github.com/mbenham1?tab=stars">
                    <i class="fab fa-lg fa-github"> </i>
                </a>
            </li>
        </ul>
    </div>

    <div class="flex-container d-flex justify-content-around">
        <p>.email : <a href="mailto:michaelbenham89@gmail.com" style="color: inherit; text-decoration: none">"michaelbenham89@gmail.com",</a></p>
    </div>

</body>

</html>