<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Card</title>
    <link rel="shortcut icon" href="assets/img/images/github.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
    <style>
        body {
            transform: scale(.9);
        }
        
        @media only screen and (max-width: 768px) {
        body {
          transform: scale(.5) rotate(90deg);
        }
        /* #main {
            height: 60vh !important;
        } */
        #all {
            margin: 0 auto;
            text-align: center;
            /* width: 80vw !important; */
        }
      }
      </style>
</head>

<body style="background: whitesmoke; font-family: 'Oswald', sans-serif" >

<div id="all" class="flex-container">
    <div id="top" class="flex-container d-flex justify-content-around" style="padding-top: 15px">
        <p>&lt t: 704.942.0077 /&gt</p>
        <p>&lt NYC && CLT /&gt</p>
    </div>

    <div id="main" class="flex-container d-flex align-items-center justify-content-center" style="height: 80vh; width: 100%">
        <a href="/portfolio" style="text-decoration: none; color: inherit; font-size: 70px; font-family: 'Roboto', sans-serif">{michael BENHAM}/</a>
        <p style="color: red">FULL STACK DEVELOPER</p>
    </div>

    <div class="flex-container d-flex justify-content-around">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1" style="color: inherit" href="/portfolio">
                    <i class="fas fa-lg fa-folder"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1" style="color: inherit" href="https://www.linkedin.com/in/michael-benham-538027127">
                    <i class="fab fa-lg fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1" style="color: inherit" href="https://github.com/mbenham1?tab=stars">
                    <i class="fab fa-lg fa-github"> </i>
                </a>
            </li>
        </ul>
    </div>

    <div class="flex-container d-flex justify-content-around">
        <p>.email : <a href="mailto:michaelbenham89@gmail.com" style="color: inherit; text-decoration: none">"michaelbenham89@gmail.com"</a></p>
    </div>
    <div id="test"></div>
</div>

</body>

<script type="text/javascript">

    var everything = document.documentElement.innerHTML;
    // console.log(everything);
    
</script>

</html>